<div>
    first name: 
    <input type="text"  name="input-firstname" id="signup-firstname"/>
    last name: 
    <input type="text"  name="input-lastname" id="signup-lastname"/>
    email: 
    <input type="email"  name="input-email" id="signup-email"/>
    password: 
    <input type="password"  name="input-password" id="signup-password"/>
    confirm password: 
    <input type="password"  name="input-password-confirm" id="signup-password-confirm"/>

    <button id="signup-submit">
        Sign Up
    </button>
</div>

<script src="/js/signup.js"></script>