<script src="../public/js/homepage.js"></script>
<nav class="homepage-nav">
  <img src="{{imageURL}}" alt="Image Description">
  <h2>Your Resources</h2>
  <button>LOGOUT</button>
</nav>
<div class="main-wrapper">
  <div class="week-btn-div">
    <h2>WEEKS</h2>
    <button>Week 1</button>
    <button>Week 2</button>
    <button>Week 3</button>
    <button>Week 4</button>
    <button>Week 5</button>
    <button>Week 6</button>
    <button>Week 7</button>
    <button>Week 8</button>
    <button>Week 9</button>
    <button>Week 10</button>
    <button>Week 11</button>
    <button>Week 12</button>
    <button>Week 13</button>
    <button>Week 14</button>
    <button>Week 15</button>
    <button>Week 16</button>
    <button>Week 17</button>
    <button>Week 18</button>
    <button>Week 19</button>
    <button>Week 20</button>
    <button>Week 21</button>
    <button>Week 22</button>
    <button>Week 23</button>
    <button>Week 24</button>
  </div>
  <div>
    <div class="main-section">
      <div class="notes-header">
        <h2>Notes and Code snippets</h2> <!-- Fixed closing tag here -->
        <button>New</button>
      </div>
      <div class="notes">
        <form class="notes-form">
          <h3>Title</h3>
          <input id="title-input" type="text"></input>
          <div class="notes-bottom-div">
            <span>
              <h3>Notes</h3>
              <textarea id="notes-input"></textarea>
            </span>
            <span>
              <h3>Code Snippets</h3>
              <textarea id="code-snippets-input"></textarea>
            </span>
          </div>
        </form>
      </div>
    </div>
    <button id="save-button" type="submit">Save</button>
  </div>
</div>