<script src="./js/homepage.js" type="text/javascript"></script>
<nav class="homepage-nav">
  <img src="../images/codeFlowLogo.png" alt="Image Description">
  <h2>Your Resources</h2>
  <button id="logout">LOGOUT</button>
</nav>
<div class="main-wrapper">
  <div class="week-btn-div">
    <h2>WEEKS</h2>  
    <input id="module-name-input" type="text" placeholder="module name"></input>
    <button id="module-submit">+</button>
    {{#each modules as |module|}}
    <button>{{module.name}}</button>
    {{/each}}
  </div>
  <div>
    <div class="main-section">
      <div class="notes-header">
        <h2>Notes and Code snippets</h2> <!-- Fixed closing tag here -->
      </div>
      <div class="notes">
        <form class="notes-form">
          <div class="notes-top-div">
            <span>
              <h3>Title</h3>
              <input id="title-input" type="text" placeholder="title"></input>
            </span>
            <button id="save-button" type="submit">Save</button>
          </div>
          <div class="notes-bottom-div">
            <span>
              <h3>Notes</h3>
              <textarea id="notes-input" placeholder="Write your weeks notes here"></textarea>
            </span>
            <span>
              <h3>Code Snippets</h3>
              <textarea id="code-snippets-input" placeholder="Copy and paste your code snippets here"></textarea>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>