<script src="./js/homepage.js" type="text/javascript"></script>
<nav class="homepage-nav">
  <img src="../images/codeFlowLogo.png" alt="Image Description">
  <h2>Your Resources</h2>
  <button id="logout">LOGOUT</button>
</nav>
<div class="main-wrapper">
  <div class="week-btn-div">
    <h2>WEEKS  <input id="module-name-input" type="text" placeholder="module name"></input><button id="module-submit">+</button></h2>
    {{#each modules as |module|}}
    <button>{{module.name}}</button>
    {{/each}}
    {{!-- <button>Week 1</button>
    <button>Week 2</button>
    <button>Week 3</button>
    <button>Week 4</button>
    <button>Week 5</button>
    <button>Week 6</button>
    <button>Week 7</button>
    <button>Week 8</button>
    <button>Week 9</button>
    <button>Week 10</button>
    <button>Week 11</button>
    <button>Week 12</button>
    <button>Week 13</button>
    <button>Week 14</button>
    <button>Week 15</button>
    <button>Week 16</button>
    <button>Week 17</button>
    <button>Week 18</button>
    <button>Week 19</button>
    <button>Week 20</button>
    <button>Week 21</button>
    <button>Week 22</button>
    <button>Week 23</button>
    <button>Week 24</button> --}}
  </div>
  <div>
    <div class="main-section">
      <div class="notes-header">
        <h2>Notes and Code snippets</h2> <!-- Fixed closing tag here -->
        <button>New</button>
      </div>
      <div class="notes">
        <form class="notes-form">
          <div class="notes-top-div">
            <span>
              <h3>Title</h3>
              <input id="title-input" type="text" placeholder="title"></input>
            </span>
            <button id="save-button" type="submit">Save</button>
          </div>
          <div class="notes-bottom-div">
            <span>
              <h3>Notes</h3>
              <textarea id="notes-input" placeholder="Write your weeks notes here"></textarea>
            </span>
            <span>
              <h3>Code Snippets</h3>
              <textarea id="code-snippets-input" placeholder="Copy and paste your code snippets here"></textarea>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>