<nav class="homepage-nav">
  <h1>CodeFlow</h1>
  <h2>Your Resources</h2>
  <button>LOGOUT</button>
</nav>
<div class="main-wrapper">
  <div class="week-btn-div">
    <h2>WEEKS</h2>
    <button>Week1</button>
    <button>Week2</button>
    <button>Week3</button>
    <button>Week4</button>
    <button>Week5</button>
    <button>Week6</button>
    <button>Week7</button>
    <button>Week8</button>
    <button>Week9</button>
    <button>Week10</button>
    <button>Week11</button>
    <button>Week12</button>
    <button>Week13</button>
    <button>Week14</button>
    <button>Week15</button>
    <button>Week16</button>
    <button>Week17</button>
    <button>Week18</button>
    <button>Week19</button>
    <button>Week20</button>
    <button>Week21</button>
    <button>Week22</button>
    <button>Week23</button>
    <button>Week24</button>
  </div>
  <div>
    <div class="main-section">
      <div class="notes-header">
        <h2>Notes and Code snippets</h3>
        <button>New</button>
      </div>
      <div>
        {{{ notes }}}
      </div>
    </div>
  </div>
</div>