<div class="sign-up-page">
    <div class="sign-up-details">
        <h2>CodeFlow</h2>
        <h3>What does CodeFlow do?</h3>
        <p>CodeFlow helps users navigate planning a project much easier</p>
        <h3>Use for all your bootcamp projects</h3>
        <p>CodeFlow helps users navigate planning a project much easier</p>
    </div>

  <div class="sign-up-form">
    email: 
    <input type="email"  name="input-email" id="signin-email"/>
    password: 
    <input type="password"  name="input-password" id="signin-password"/>

    <button id="signin-submit">
        Sign In
    </button>
</div>

<script src="/js/login.js"></script>