<div>
    
    email: 
    <input type="email"  name="input-email" id="signin-email"/>
    password: 
    <input type="password"  name="input-password" id="signin-password"/>

    <button id="signin-submit">
        Sign In
    </button>
</div>

<script src="/js/login.js"></script>