<div class="row mt-4">
  <div class="col-md-6">
    <h3> New Code Snippet:</h3>

    <form class="new-codeSnippet-form">
      <div class="form-group">
        <label for="codeSnippet-name">Code snippet name:</label>
        <input class="form-input" type="text" id="codeSnippet-name" name="codeSnippet-name" />
      </div>
        <button type="submit" class="btn btn-primary">Save</button>
         {{#each modules }}
    <button>{{modules.name}}</button>
    {{/each}}
      </div>
    </form>
  </div>

  <script src="/js/module.js"  type="text/javascript"></script>