<div class="sign-up-page">
  
  <div class="sign-up-details">
    <div class="sign-up-details-wrapper">
    <img src="../images/CodeFlowLogo.png" />
    <h3>What does CodeFlow do?</h3>
    <p>CodeFlow helps users navigate planning a project much easier</p>
    <h3>Use for all your coding projects</h3>
    <p>Stay organized and conquer your coding projects with ease!</p>
    </div>
  </div>

  <div class="forms-wrapper">
    <div class="sign-up-form">
      <h2>Sign Up</h2>
      First name
      <input type="text" name="input-firstname" id="signup-firstname" />
      Last name:
      <input type="text" name="input-lastname" id="signup-lastname" />
      Email
      <input type="email" name="input-email" id="signup-email" />
      Password
      <input type="password" name="input-password" id="signup-password" />
      confirm password:
      <input
        type="password"
        name="input-password-confirm"
        id="signup-password-confirm"
      />
      <button id="signup-submit">
        Sign Up
      </button>
    </div>
    <div class="log-in-form">
      <h2>Log In</h2>
      Email
      <input type="email" name="input-email" id="signin-email" />
      Password
      <input type="password" name="input-password" id="signin-password" />

      <button id="signin-submit">
        Sign In
      </button>
    </div>

  </div>
</div>
<script src="./js/signup.js"></script>