<div class="sign-up-page">
  <div class="sign-up-details">
    <h2>CodeFlow</h2>
    <h3>What does CodeFlow do?</h3>
    <p>CodeFlow helps users navigate planning a project much easier</p>
    <h3>Use for all your bootcamp projects</h3>
    <p>CodeFlow helps users navigate planning a project much easier</p>
  </div>

  <div class="sign-up-form">
    first name:
    <input type="text" name="input-firstname" id="signup-firstname" />
    last name:
    <input type="text" name="input-lastname" id="signup-lastname" />
    email:
    <input type="email" name="input-email" id="signup-email" />
    password:
    <input type="password" name="input-password" id="signup-password" />
    confirm password:
    <input
      type="password"
      name="input-password-confirm"
      id="signup-password-confirm"
    />

    <button id="signup-submit">
      Sign Up
    </button>
  </div>
</div>
<script src="/js/signup.js"></script>